.pop-up-window {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
    border-radius: var(--lg-radius);
    border-radius: var(--radius);
    color: white;
    overflow-y: auto;
    backdrop-filter: blur(8px);
    max-height: 90%;
}

.container {
    overflow: scroll;
}

.background-poster {
    width: 100%;
}

.details-section {
    display: flex;
    background-color: rgb(0, 0, 0);
    margin-top: -200px;
    position: relative;
    padding: 20px;
    align-items: center;
}

.movie-poster {
    flex: 2;
    border-radius: var(--radius);
    overflow: hidden;
}

.movie-poster img {
    width: 100%;
}

.movie-details {
    flex: 5;
    padding: 20px;
}

.headline {
    font-size: 20px;
}

.tagline {
    color: gray;
    font-size: 14px;
    font-style: italic;
}

.description {
    margin: 20px 0;
    line-height: 21px;
    font-size: 15px;
}

.extra-movie-info {
    padding-top: 20px;
}

.details-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(211, 158, 79, 0.5);
    padding: 10px 0;
}

.details-row:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.label {
    margin-right: 20px;
    font-weight: bold;
}

.label-info {
    font-size: 14px;
}


.info {
    display: flex;
    gap: 5px;
}

.info span {
    background-color: gray;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .pop-up-window {
       width: 98%;
    }

    .details-section {
       flex-direction: column;
       background-color: rgba(0, 0, 0, 0.7);
    }
    .movie-poster {
        width: 50%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .pop-up-window {
        width: 85%; 
    }
    .details-section {
        margin-top: -50px;
    }
    .movie-poster {
        flex: 3;
    }
}
