:root {
  --s-radius: 4px;
  --radius: 10px;
  --lg-radius: 20px;
  --light-gray: #d3d3d3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background-color: #100F12;
}

input {
  outline: none;
  padding: 20px 30px 20px 15px;
  border: none;
  font-size: 18px;
  border-radius: var(--s-radius);
  width: 100%;
}

button:hover {
  background-color: rgb(255, 190, 71);
}