:root {
  --s-radius: 4px;
  --radius: 10px;
  --lg-radius: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background-color: #100F12;
}

input {
  outline: none;
  padding: 20px 30px 20px 15px;
  border: none;
  font-size: 18px;
  border-radius: var(--s-radius);
  width: 100%;
}

button {
  border: none;
  padding: 0 30px;
  margin-left: -10px;
  border-top-right-radius: var(--s-radius);
  border-bottom-right-radius: var(--s-radius);
  font-size: 20px;
  font-weight: bold;
  background-color: orange;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 190, 71);
}